* {
  box-sizing: border-box;
}
nav{
  display: flex;

  position: fixed;
  width: 100%;
  background-color: darkgray;
  z-index: 99;
}
nav > div {
  align-items: center;
  flex-direction: row;

}
nav.nav-button-container {
}
#fractal-trees{
  background: black;
  position: absolute;
  left: 0;
  top: 60;
}